<div class="flex">
  <p-card class="flex p-2" styleClass="max-w-xl p-3">
    <ng-template pTemplate="header">
      <div class="card-header">
        <h2>CT Marks</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div>
        <p>Course Name: {{ CT_Info.course_name }}</p>
        <p>Course Code: {{ CT_Info.course_code }}</p>
      </div>
      <div class="card-content">
        <table
          class="w-full divide-y divide-gray-200"
        >
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="px-3 col-span-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                CT No
              </th>
              <th
                scope="col"
                class="px-3 col-span-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Marks
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td
                class="px-3 whitespace-nowrap text-sm font-medium text-gray-900"
              >
                CT 1
              </td>
              <td class="px-3 whitespace-nowrap text-sm text-gray-500">
                {{ CT_Info.ct1 }}
              </td>
            </tr>
            <tr>
              <td
                class="px-3 whitespace-nowrap text-sm font-medium text-gray-900"
              >
                CT 2
              </td>
              <td class="px-3 whitespace-nowrap text-sm text-gray-500">
                {{ CT_Info.ct2 }}
              </td>
            </tr>
            <tr>
              <td
                class="px-3 whitespace-nowrap text-sm font-medium text-gray-900"
              >
                CT 3
              </td>
              <td class="px-3 whitespace-nowrap text-sm text-gray-500">
                {{ CT_Info.ct3 }}
              </td>
            </tr>
            <tr>
              <td
                class="px-3 whitespace-nowrap text-sm font-medium text-gray-900"
              >
                CT 4
              </td>
              <td class="px-3 whitespace-nowrap text-sm text-gray-500">
                {{ CT_Info.ct4 }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </p-card>
</div>