<div class="flex justify-center">
  <div class="flex flex-col justify-center">
    <p-card>
      <h2>{{title}} Registration</h2>
      <form
        class="flex flex-col gap-5"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-col gap-2">
          <label for="fullName">Full Name</label>
          <input
            id="fullName"
            [style]="{ width: '100%' }"
            pInputText
            formControlName="fullName"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="username">Username</label>
          <input
            id="username"
            [style]="{ width: '100%' }"
            pInputText
            formControlName="username"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email">Email</label>
          <input
            id="email"
            [style]="{ width: '100%' }"
            pInputText
            formControlName="email"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="password">Password</label>
          <p-password
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            formControlName="password"
            toggleMask
          ></p-password>
        </div>
        <div class="flex flex-col gap-2">
          <label for="confirmPassword">Confirm Password</label>
          <p-password
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            formControlName="confirmPassword"
            toggleMask
          ></p-password>
        </div>
        <p-button
          label="Sign Up"
          type="submit"
          [disabled]="signupForm.invalid"
        ></p-button>
      </form>
    </p-card>
    
    <div class="mx-5">
      <p>
        Already have an account? <a href="/login">Log in</a>
      </p>
    </div>
  </div>
</div>